.game-board-tile {
	text-align: center;

	position: relative;
	box-sizing: border-box;

	background-color: black;
	border: silver 0.15em solid;

	border-radius: 5%;
} 

.tile-image-container {
	position: relative;
	left: 15%;
	top: 15%;

	width: 70%;
	height: 70%;
}

.game-board-tile img {
	height: 100%;
	width: 100%;
}